
{% extends 'base.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    {% block content %}
       <!-- <h1 class="text-center">Home Page</h1> -->
       <div class="container-fluid">
         <div class="row">
       <div class="col-md-4" id="s1"style="  background:green">
            <center> <h3  class="text-white" >About Institute</h3>
             <label  class="text-white">Narayana Tech House,</label><br>
             <label  class="text-white">Ammerpet in,</label><br>
             <label  class="text-white">Hyderabad</label>
           </div>
             <div class="col-md-4"id='s1'style="  background:yellow">
               <center>

             <h3>About Goals</h3>
             <label>Seminars,</label><br>
             <label>Presentions,</label><br>
             <label>Speeches</label>
             </div>
               <div class="col-md-4"id='s1'style="  background:orange">
                 <center>
               <h3>About Achievements</h3>
               <label>Nobel Prize,</label><br>
               <label>Gold Medal,</label><br>
               <label>Silver Medal</label>
                 </div>

           </div>

         </div>
         <div class="containerfluid mt-5">
           <div class="row">
             <div class="col-md-4"id='s1'style=" background:brown">
               <h3 class=" text-center text-white"> About Founder</h3><br>
                <center> <img src="{% static 'images/home.jpg' %}" alt="" style="height:80%;width:80%; border-radius:0%;">
             </div>
             <div class="col-md-8"id="s1"style=" background:green" ><br>
               <h4 class="text-white">Mr N. Durga Prasad ( M.Tech), PostGraduate from Andhra University and then started working as Software Engineer from IBM.
After few years of working found that there is a BIG GAP between what Corporates want and what candidate’s posses.
After seeing this situation, Immediately he quit the Job and conducted a research across institutions, industry and students, for 8 months and realised students are gems, but lack of innovative things they failed, So he started “DURGA SOFTWARE SOLUTIONS” for very less price in the market and to enhance the quality of people in to Corporate field by giving best knowledge to students via teaching and skill development.
After years of struggle, he was succeeded in that and giving Knowledge as well as innovative thoughts to enter in corporate field for lakhs of students in a span of 8 years and Now his dreams come true that his students enters in to the corners of whole world and became INDIA’S NO #1 in SOFTWARE TRAINING INDUSTRY as DURGASOFT.
               </h4>
                     </div>

           </div>

         </div>
         <div class="containerfluid mt-5">
           <div class="row">
             <div class="col-md-4" id="s1" style="background:rgb(15, 14, 14)">
               <h3 class="text-center text-white">Mr.Narayana Sir</h3><br>
                 <center><img src="{% static 'images/home1.jpg' %}" alt=""  style="height:80%; width:100%; border-radius:0%"><br><br>

                 <h3 class="text-center text-white">12 years exp</h3>
                 </div>
                 <div class="col-md-4"id="s1"style=" background:purple">

                     <h3 class="text-center text-white"> Django</h3><br>
                      <center> <img src="{% static 'images/home2.jpg' %}" alt="" style="height:60%;width:60%; border-radius:50%"><br><br>
                       <h3 class="text-center text-white"> 10 years exp</h3>

                 </div>
                   <div class="col-md-4"  id="s1" style="background:blue">

                     <h3 class=" text-center text-white">Python WIth Django</h3><br>
                    <center>  <img src="{% static 'images/home3.jpg' %}" alt=""  style="height:80%; width:80%; border-radius:10%"><br><br>
                       <h3 class="text-center text-white">20 years exp</h3>

                 </div>

           </div>
         </div>
       {% endblock %}
     </body>
   </html>
